@import "../../scss/variables";

.header {
  background-color: $color-white;
  position: sticky;
  top: 0;
  z-index: 9000;
  border-bottom: 0.0625rem solid #dddddd;

  .navigation {
    display: flex;
    align-items: stretch;

    & a {
      display: inline-block;
      margin: 0;
      padding: 1.25rem 0 1.25rem 2.5rem;
      font-size: 1.1rem;
      color: $color-primary;

      &:hover,
      &:focus {
        color: $color-secondary;
        text-decoration: none;
      }

      &[aria-current='page'] {
        color: red;
      }
    }

    .brand {
      font-family: 'Cooper Hewitt';
      font-size: 1.3rem;
      color: $color-primary;
      padding-left: 0;
      padding-right: 2.5rem;

      &[aria-current='page'] {
        color: $color-primary;
      }

    }
  }
}
