@import '../scss/variables';

.heading {
  background-color: #f2f2f2;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14), 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.2),
    0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.12);
}

.headingTable {
  font-size: 0.9rem;

  .label {
    padding-right: 1rem;
    vertical-align: top;
  }

  .value {
    font-weight: bold;
    vertical-align: top;
  }
}
