$brand-primary-blue: #272262;
$brand-primary-green: #77be44;
$brand-yellow: #dfd91e;
$brand-gray: #6d6f71;
$brand-orange: #e78824;
$brand-blue: #18bedc;

$color-primary: $brand-primary-blue;
$color-secondary: $brand-primary-green;

$color-white: #fff;
$color-black: #000;