@import '../../scss/variables';

$footer-foreground: #828282;
$footer-background: #262626;

.footer {
  background-color: $footer-background;
  color: $footer-foreground;
  font-size: 0.75rem;
  line-height: 1.4;
  letter-spacing: 0rem;
  padding: 2rem 0;

  & h1 {
    font-family: $secondaryFontFamily;
    font-size: 1.125rem;
    color: $color-white;
    padding-bottom: 1.25rem;
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      font-size: 0.83rem;
      color: $color-secondary;
      padding: 0.4rem 0;
      text-decoration: none;
      display: inline-block;

      &:hover {
        color: $color-white;
      }

      &:focus {
        color: $color-secondary;
      }
    }
  }

  .copyright {
    padding-top: 2.5rem;

    a.privacyAnchor {
      color: $footer-foreground;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $color-secondary;
      }
    }
  }

  .social {
    .socialAnchor {
      font-size: 0.85rem;
      color: $color-white;
      margin-right: 1.75rem;

      &:hover,
      &:focus {
        color: $color-secondary;
      }
    }
  }

  @media print {
    display: none;
  }
}

.printedFooter {
  background-color: #6d6f71;
  padding: 1rem 0;
  color: white;
  font-size: 0.8rem;
  line-height: 1.2rem;
  display: none;

  & h1 {
    color: $color-white;
    font-family: $secondaryFontFamily;
    font-size: 1rem;
    font-weight: bold;
    text-transform: none;

    &::before {
      content: '\00BB';
      font-size: 1.5rem;
      color: $brand-primary-green;
      margin-right: 0.25rem;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .stayConnected {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 5.5rem;

    a {
      color: $color-white;
    }
  }
  :global {
    .col-sm {
      border-right: 0.25rem solid white;

      &:last-child {
        border-right: none;
      }
    }
  }

  @media print {
    display: block;
    width: 100%;
    bottom: 0;
    position: absolute;
  }

  @page {
    @bottom-center {
      content: element(footer);
    }
  }
}
