@import '~bootstrap/scss/bootstrap.scss';
@import '../scss/variables';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');

@font-face {
  font-family: 'Cooper Hewitt';
  src: local('Cooper Hewitt'),
  url(../fonts/CooperHewitt-Bold.otf) format('opentype');
}

body {
  font-family: $secondaryFontFamily;
  transition: all 0.6s ease-in-out left right;
  line-height: 1.5rem;
  height: 100%;
  margin-top: 1.875rem;
}

a {
  &:hover,
  &:focus {
    transition: all 0.3s ease-in-out;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $primaryFontFamily;
}

@media (prefers-reduced-motion: reduce) {
  body {
    transition: none;
  }

  a {
   &:hover,
   &:focus {
     transition: none;
   }
  }
}
